<br>
<div class="mb-3">
    <input
      type="text"
      class="form-control"
      id="brandFilter"
      placeholder="Arama ifadesi giriniz"
    
    />
  </div>
  <table class="table table-dark table-hover  ">
    <thead>
      <tr>
        <th>Id</th>
        <th>Marka Adı</th>
        <th>Güncelle</th>
        <th>Sil</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let brand of brands">
        <td>{{ brand.brandId }}</td>
        <td>{{ brand.brandName }}</td>
        <td>
          <a
            type="button"
            class="btn btn-dark btn-sm"
            routerLink="/brands/{{brand.brandId}}"
            ><i class="bi bi-pencil-square"></i> Güncelle</a
          >
        </td>
        <td>
          <a
            type="button"
            class="btn btn-dark btn-sm"
            (click)="brandDelete(brand)"
            ><i class="bi bi-pencil-square"></i> Sil</a
          >
        </td>
      </tr>
    </tbody>
  </table>